<style>
body {
	background:#999999;
}
#calendar {
	text-align:center;
	font:16px "futura";
}

table.calendar_grid {
	margin-left:auto;
	margin-right:auto;
	background:#333333;
}

table.calendar_grid td {
	width:150px;
	padding: 18px 5px 18px 5px;
}

table.calendar_grid th {
	font-size: 24px;
	padding: 20px;
	background:#99ccff;
}

table.calendar_grid tr {
	background:#ffffff;
}

table.calendar_grid td.calendar_header_day {
	background: #66cc66;
}

#prevmonth {
	background:#ccc;
	border:none;
	float:left;
	margin: 100px 0px 0px 50px;
	height: 300px;
}
#nextmonth {
	background:#ccc;
	border:none;
	float:right;
	margin: 100px 50px 0px 0px;
	height:300px;
}

.ui-widget {
	background: #ffffff;
	border: 1px solid #666;
	padding:3px;
}

.ui-dialog-titlebar-close {
	background:none;
	position:absolute;
	bottom:3px;
	right:3px;
}

</style>

